<div class="card mb-5 mb-lg-0">
    <div class="card-body">
        <h5 class="card-title text-muted text-uppercase text-center">{{Tier}}</h5>
        <h6 class="card-price text-center">${{price}}<span class="period">/month</span></h6>
        <hr>
        <ul class="fa-ul " style="list-style: none;">

            <li *ngFor="let str of not_muted_list;index as i">
                <span class="fa fa-li fa-check">
                </span>{{str}}
            </li>
            <li class="text-muted" *ngFor="let str of muted_list;index as i">
                <span class="fa fa-li fa-times">
                </span>{{str}}
            </li>
        </ul>
        <div class="d-grid">
            <a href="#" class="btn btn-primary text-uppercase">Button</a>
        </div>
    </div>
</div>